<a href="https://colab.research.google.com/github/EminImura/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indendtation

In [1]:
if 5>2:
  print("five is greater than two")

five is greater than two

Python Comments

In [2]:
#This is a comment
print("Hello, world!")

Hello, world!

Python Variables

In [3]:
x=1
a, b = 0, -1
a, b, c = 0, -1, 2

b = "Sally" #This is a type of string

Casting

In [4]:
b = "Sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single Quotes'

In [8]:
y = "John"
y = 'John'

Case Sensitive

In [6]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [9]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)
x

one
two
three

'one'

One Value to Multiple Variables

In [10]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [12]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [13]:
#Other way
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arihmetic Operators

In [14]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

Assigning Operator

In [18]:
a, b, c = 0, -1, 6
c %= 3
c

0

Logical and Comparison Operator

In [24]:
a, b, c = 0, -1, 6
a > b and c > b

True

Identity Operators

In [23]:
a, b ,c = 0, -1, 5
a is c

False

Bitwise Operators

In [31]:
a, b ,c = 0, -1, 5
c >> 1

2